:root {
    --first-color: #ece9e4;
    --second-color: #131313;
    --third-color: #bd264c;
    --green: rgb(0, 0, 0);
    --blue: rgb(255, 255, 255);
}

@font-face {
    font-family: Monas Grotesk;
    src: url(../public/monasgrotesk-bold.otf);
    font-weight: normal;
}

@font-face {
    font-family: Helvetica;
    src: url(../public/helvetica_regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: Helvetica;
    src: url(../public/helvetica_bold.otf);
    font-weight: Bold;
}

@font-face {
    font-family: Helvetica_Light;
    src: url(../public/helvetica_light.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(../public/HelveticaNeueBoldCondensed.ttf);
    font-weight: normal;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    font-family: 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--second-color);
}

h1 {
    font-size: 1.8rem;
    /*padding: 1rem 0;*/
    font-family: 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 1.4rem;
    padding: .5rem 0;
    font-family: 'Helvetica Neue', sans-serif;
}

.list-group-item h1 {
    margin: 0;
}

col[class="d-flex justify-content-center"] h4 {
    margin: 0;
}

a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 0rem !important;
    height: .4rem !important;
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    background-color: #000 !important;
    border-radius: 0rem 0rem 50rem 50rem !important;
}

body {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important;
}

h5 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

h4 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

main {
    min-height: 80vh;
}

img {
    object-fit: cover !important;
}

.unfort-icon {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.unfort-logo {
    min-width: 2.5vmax !important;
    min-height: 2.5vmax !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    position: relative;
    justify-content: center !important;
    align-items: center !important;
}

.unfort-logo svg {
    opacity: .75;

    transition-duration: 250ms;
}

.unfort-logo svg:hover {
    opacity: 1;
}

.unfort-icon svg {
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute !important;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    margin: 0 0 !important;
    animation: loader 1s infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.popup-background {
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: var(--second-color);
    width: 100vw;
    height: 100vh;
    transform: scale(10);
    opacity: 0;
}

.popup-card {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1001;
    color: var(--second-color);
    background-color: #ffffff;
    width: 30rem;
    height: auto;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    scale: 1;
}

.popup-card-img {
    width: 100%;
    background-image: url("../public/images/popup-banner.webp");
    background-size: cover;
    background-position: center;
    height: 15rem;
    border-radius: .5rem .5rem 0 0;
    margin-bottom: .25rem;
}

#popup-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup-card-body h4 {
    margin: 1rem 0 !important;
}

#popup-card-body p {
    margin-bottom: 1rem !important;
}

.popup-card ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 1rem !important;
}

#btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#popup-card a[role='button'] {
    display: flex;
    width: 50%;
    border-radius: .5rem !important;
    border: .1rem solid black !important;
}

#popup-close-btn {
    display: flex;
    position: fixed;
    z-index: 1002;
    width: 2.5vmax;
    height: 2.5vmax;
    justify-content: center;
    align-items: center;
    border-radius: .75vmax;
    border: 0 !important;
    right: 2rem;
    top: -10vmax;
}

.rating {
    width: 100%;
    font-size: .75rem;
}

.rating span{
    margin-right: .05rem;
}

.banner {
    background-image: url("../public/images/banner.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
}

.banner-btns {
    display: flex;
    position: absolute;
    flex-direction: column;

    font-family: 'Helvetica Neue', sans-serif !important;

    justify-content: center;
    align-items: center;

    width: 50vw;

    bottom: 15%;
}

.banner-btns .banner-btn {
    width: 40%;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--first-color);

    background: rgba(236, 233, 228, 0);
    border: .1rem solid var(--first-color);
    border-radius: 1rem;

    text-transform: uppercase;
    font-size: 1rem;

    transition-duration: 250ms;

    margin-bottom: 1rem;
}

.banner-btns .banner-btn:hover {
    color: var(--first-color) !important;
    background: rgba(236, 233, 228, .25);
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video {
    width: 100vw;
    height: auto;
}

.mute {
    display: flex;
    position: absolute;
    z-index: 1000;

    left: 20px;
    top: calc(4rem + 20px);

    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border: 0px solid white;
    border-radius: 100%;

    color: white;
    background: none;

    scale: 1;
    opacity: .5;

    transition-duration: 250ms;
}

.mute:hover {
    scale: 1.1;
    opacity: 1;
}

.mute:active {
    scale: .9;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img {
    object-fit: cover !important;
}

.product-title {
    height: auto;
    color: #232323;
    font-size: 1.5rem;
    margin: 1rem 0 0 0 !important;
}

.cart-item-title {
    color: var(--second-color);
    font-size: 1rem;
    font-weight: 700;
    opacity: .75;
    transition-duration: 250ms;
}

.cart-item-title:hover {
    color: var(--second-color);
    opacity: 1;
}

.product-filter {
    font-size: 1.25rem;
    transition-duration: 250ms;
}

.product-filter:hover {
    color: white !important;
    background-color: black !important;
}

.products {
    color: var(--second-color);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    margin: 1rem 0;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(1.25rem, 12.5rem));
    grid-column-gap: 2.5rem;
    grid-row-gap: 1rem;
    margin: 2rem 0 2.5rem 0;
}

.filter-container button {
    min-width: 12.5rem;
    height: 2rem;
    padding: .5rem .5rem;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: 0 solid #fff;
    border-radius: .5rem;
    cursor: pointer;
    margin: 0 .25rem 0 .25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 250ms;
}

button, select, option, table, input, a, .cart-sub-total, .checkout-steps, p, font, .list-group-item, .preorder-product::after {
    font-family: 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important;
}

.list-group-item {
    border: none !important;
}

thead, label, .cart-total, h6, strong, .card-body {
    font-family: 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important;
}

button.active {
    background-color: #000 !important;
    color: #fff !important;
    transition-duration: .25s !important;
}

.table-responsive {
    display: flex;
    align-items: center;
    width: 1200px;
}

.table, #table {
    display: table;
    margin: 0 !important;
}

.image-track {
    overflow: hidden;
    display: flex;
    position: relative;
}

#image-track {
    display: flex;
    flex-direction: row;
    z-index: 3;
}

div[class='col-md-6 image-track'] {
    padding: 0;
}

.product-screen-img {
    width: 100%;
    height: 80vh;

    object-fit: cover;
    object-position: center;

    z-index: 2;
}

#fullscreen {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.product-img-fullscreen {
    width: 100% !important;
    height: 100% !important;

    overflow-y: hidden;

    padding: 10vh 25vw;

    background-color: #fff;

    object-fit: cover;
    object-position: center;
    position: fixed !important;
    z-index: 5000;

    top: 0;
    left: 0;
}

.product-screen-img:first-child {
    padding-left: 0;
}

.product-img-fullscreen img {
    height: 100vh;
}

.hidden {
    display: none !important;
}

#sizeCloseBtn {
    position: fixed;
    top: 0;
    right: 0;

    font-weight: bold;

    box-shadow: .15rem .25rem .5rem 0 rgba(0, 0, 0, 1);

    margin: .5rem .5rem !important;
    padding: .75rem 1rem !important;
    z-index: 6;
    background-color: white !important;

    opacity: .5 !important;

    transition-duration: .25s;
    transition-property: opacity;
}

#sizeCloseBtn:hover {
    opacity: .9 !important;
}

.sizeImgFull {
    display: flex;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .5;
}

#fullscreen .el-hidden {
    display: none !important;
}

#fullCloseBtn {
    position: fixed;
    top: 0;
    right: 0;

    font-weight: bold;

    margin: .5rem .5rem !important;
    padding: 1rem !important;
    z-index: 6000;
    color: black;
    background-color: white !important;

    opacity: .5 !important;
    scale: .9;

    transition-duration: 250ms;
}

#fullCloseBtn:hover {
    scale: 1;
    opacity: 1 !important;
}

.new-product::before {
    display: flex;
    position: absolute;
    width: 3rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    font-weight: 500;
    content: "NEW";
    color: var(--first-color);
    background-color: var(--third-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(189, 38, 76, 0);
    left: 0;
    top: 0;
    opacity: 1;
    transition-duration: 500ms;
}

.new-product:hover::before {
    box-shadow: 0 0 5px 0 rgba(189, 38, 76, 1);
}

.preorder-product::after {
    display: flex;
    position: absolute;
    width: 5rem;
    height: 1rem;
    justify-content: center !important;
    align-items: center;
    font-size: .75rem;
    font-weight: 500;
    content: "PREORDER";
    color: var(--first-color);
    background-color: rgb(100, 100, 100);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(189, 38, 76, 0);
    left: 0;
    top: 0;
    opacity: 1;
    transition-duration: 500ms;
}

.preorder-product:hover::after {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.size-btn {
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    background-color: #fff !important;
    color: black !important;
    font-weight: bold !important;
    border-radius: .5rem !important;
    border: .1rem solid black !important;

    transition-duration: 250ms !important;
}

.size-btn:hover {
    color: white !important;
    background-color: black !important;
}

td[width='50'] a {
    position: relative;
    left: 0;
}

a.size-btn {
    display: inline-block !important;
}

.filter-size {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 2rem));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

td .btn-danger {
    color: red !important;
    background-color: white !important;
    border: .1rem solid red !important;
}

td .btn-danger:hover {
    color: white !important;
    background-color: red !important;
}

.qty-form {
    color: var(--second-color) !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    border: .1rem solid black !important;
    cursor: pointer;
}

.cdek-map {
    display: flex;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.back-to-homepage {
    text-decoration: underline !important;
    transition-duration: 250ms !important;
}

.create-acc {
    font-size: 1.25rem;
    margin-left: .25rem;
    color: black !important;
    opacity: .5;
    transition-duration: 250ms;
}

.create-acc:hover {
    opacity: 1;
}

.alert-primary:hover {
    background-color: white !important;
}

.alert-primary:hover .back-to-homepage{
    color: #4582ec !important;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
}

.ur-sale {
    font-size: .9rem;
}

.cart-sub-total {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.checkout-btn {
    width: 100% !important;
    margin: 0 !important;
}

.navbar-nav {
    width: 100% !important;
    display: flex !important;
    position: relative !important;
    align-items: center;
}

.unfort-brand {
    display: flex;
}

.fa-bag-shopping {
    font-size: 2rem;
    color: white;

    scale: 1;
    opacity: .75;

    margin-right: .5rem;

    transition-duration: 250ms !important;
}

.fa-bag-shopping:hover {
    scale: 1;
    opacity: 1;
}

i[class='far fa-user'] {
    font-size: 1.5rem;
}

.try-again {
    color: #d9534f !important;
    text-decoration: underline !important;
    transition-duration: 500ms !important;
}

.alert-danger:hover {
    background-color: white !important;
}

.alert-danger:hover .try-again {
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    color: #d9534f !important;
}

.nav-cart {
    width: 50px !important;
    display: flex;
    position: relative;
}

#cart {
    display: flex;
    padding: .1rem .5rem;
}

.cart-qty {
    position: absolute;
    justify-content: center;
    border-radius: 100%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 1rem;

    opacity: .75;

    transition-duration: 250ms;
}

.checkout-steps {
    justify-content: space-around !important;
    border-bottom: .2rem solid black;
}

.checkout-steps a {
    width: 100% !important;
}

input[type='radio']{
    border: .1rem solid black !important;
}

input[type='radio']:checked {
    background: black;
}

.checkout-steps .nav-item:first-child a {
    margin-left: 0;
}

.checkout-steps .nav-item:last-child a {
    margin-right: 0;
}

.checkout-steps .nav-item a:hover {
    color: white !important;
    background-color: black !important;
}

.product-size {
    display: flex;
    justify-content: center;
}

a[aria-disabled="true"] {
    opacity: .6 !important;
}

.admin-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative !important;
    /*left: calc(-24vw) !important;*/
}

.nav-item {
    width: 5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-steps .nav-item {
    width: 5rem !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black !important;
    margin: 0 .2rem;
    transition-duration: 250ms;
}

.checkout-steps .nav-item a {
    padding: .75rem 0 !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black !important;
    transition-duration: 250ms;
}

#admin-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-product {
    display: flex !important;
    justify-content: right;
}

.search-box {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -20%) scale(.65) !important;
}

li[class='active page-item'] .page-link {
    color: black !important;
    background-color: white !important;
    border: .1rem solid black !important;
    margin-right: .25rem !important;
}

.pagination-btn {
    border-radius: 0 .5rem .5rem 0 !important;
}

li[class='active page-item'] .page-link:hover {
    color: white !important;
    background-color: black !important;
    border: .1rem solid black !important;
    margin-right: .25rem !important;
}

li[class='active page-item'] .page-link:focus {
    color: white !important;
    background-color: black !important;
    border: .1rem solid black !important;
    margin-right: .25rem !important;
}

li[class='active page-item active'] .page-link {
    color: white !important;
    border: .1rem solid black !important;
    background-color: black !important;
    margin-right: .25rem !important;
}

.card {
    z-index: 1 !important;
    font-family: 'Helvetica Neue', sans-serif !important;
    font-weight: normal;
    border: none !important;
    color: var(--second-color);
}

.card-body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alike-btn {
    display: flex !important;
    z-index: 0 !important;
    transform: translateY(-0vh) !important;
    width: 75% !important;
    margin: 0 auto !important;
}

.footer-column-first {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-column-second {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-column-third {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-column-fourth {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-column-fourth .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.footer-column-fourth .row:first-child {
    height: 5rem;
}

.footer-column-second a:nth-child(n) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.row {
    font-family: 'Helvetica Neue', sans-serif !important;
    font-weight: bold !important;
}

.footer-row-first {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.footer-row-first .footer-link {
    width: 100% !important;
}

.footer-row {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.footer-link {
    display: flex;
    justify-content: center;
    width: 25% !important;
}

.footer-column-third a {
    display: flex;
    justify-content: center;
    padding: 1px;
    width: 100% !important;
}

.footer-column-fourth a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    width: 5rem !important;
    height: 30%;
}

    .card-text {
        display: flex;
        height: 1.5rem;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

@keyframes socials {
    0% {
        position: relative;
        top: 0;
    }

    100% {
        position: relative;
        top: -.25rem;
    }
}

.footer-column-fourth-row a:hover {
    animation: socials 100ms ease-in;
    animation-fill-mode: both;
}

.footer-vk:hover #vk {
    animation: socials 250ms ease-in;
    animation-fill-mode: both;
}

.footer-telegram:hover #telegram {
    animation: socials 250ms ease-in;
    animation-fill-mode: both;
}

.footer-instagram:hover #instagram {
    animation: socials 250ms ease-in;
    animation-fill-mode: both;
}

.footer-tiktok:hover #tiktok {
    animation: socials 250ms;
    animation-fill-mode: both;
}

footer .col-md-1, footer .col-md-2, footer .col-md-3, footer .col-md-4, footer .col-md-5, footer .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
    color: white;

    transition-duration: 250ms;
}

.line:hover {
    opacity: 1;
}

.line svg {
    opacity: .75 !important;
    transition-duration: 250ms !important;
}

.line strong {
    opacity: .25 !important;
}

.line div {
    opacity: .75;
}

.line svg:hover {
    opacity: 1 !important;
}

.mailto {
    color: rgba(255, 255, 255, .75) !important;
    text-transform: uppercase;

    font-size: 1.5rem;

    transition-duration: .25s;
}

.mailto:hover {
    color: rgba(255, 255, 255, 1) !important;
}

@keyframes float {
    from, to {
        transform: translateY(-0%);
    }

    50% {
        transform: translateY(-3%);
    }
}

@keyframes background-pan {
    from {
        background-position: 1000% center;
    }

    to {
        background-position: 0% center;
    }
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
    transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(
    to right,
    white,
    black,
    white
  );
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.fancy:hover > .outer:nth-child(1) {
  transform: translate(-30%, 20%) rotate(12deg);
}

.fancy:hover > .outer:nth-child(2) {
  transform: translate(-20%, 0%) rotate(-9deg);
}

.fancy:hover > .outer:nth-child(3) {
  transform: translate(-5%, 15%) rotate(2deg);
}

.fancy:hover > .outer:nth-child(4) {
  transform: translate(0%, 4%) rotate(-7deg);
}

.fancy:hover > .outer:nth-child(5) {
  transform: translate(0%, -10%) rotate(9deg);
}

.fancy:hover > .outer:nth-child(6) {
  transform: translate(0%, 10%) rotate(-15deg);
}

.fancy:hover > .outer:nth-child(7) {
  transform: translate(0%, -20%) rotate(1deg);
}

.fancy:hover > .outer:nth-child(8) {
  transform: translate(0%, 6%) rotate(-13deg);
}

.fancy:hover > .outer:nth-child(9) {
  transform: translate(0%, -25%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(10) {
  transform: translate(0%, 20%) rotate(-2deg);
}

.fancy:hover > .outer:nth-child(11) {
  transform: translate(25%, -5%) rotate(9deg);
}

.fancy:hover > .outer:nth-child(12) {
  transform: translate(30%, -15%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(13) {
  transform: translate(30%, 10%) rotate(12deg);
}

.fancy:hover > .outer:nth-child(14) {
  transform: translate(50%, -15%) rotate(-10deg);
}

.unfort-footer {
    min-height: 10vh !important;
}

.description-group-item {
    word-wrap: break-word;
    line-height: 1.5;
}
.description-group-item .mb-0 {
    display: flex;
    justify-content: left;
}

.order-table tbody {
    background-color: red !important;
    color: red !important;
    overflow-x: auto !important;
}

.showCalc {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.product-calc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 0;

    opacity: 0;
}

#result {
    display: none;
}

.calc-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 75%;
}

.calc-submit {
    display: flex;
    height: 75%;
    width: 25%;
    justify-content: center;
    align-items: center;
}

#sizeCalc {
    display: flex;
    height: 4rem;
    width: 4rem;
}

.img-track-btns {
    width: 100%;
    height: 80vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}

.btn-light {
    background: none !important;
    border: .1rem solid black !important;

    transition: 250ms !important;
}

.btn-light:hover {
    background: black !important;
    color: white;
}

#profile-screen .img-track-btns {
    position: relative;
    height: 2.5rem;
    width: 10rem;
    margin: 0 auto;
}

#user-list-screen .img-track-btns {
    position: relative;
    height: 2.5rem;
    width: 10rem;
    margin: 0 auto;
}

#product-list-screen .img-track-btns {
    position: relative;
    height: 2.5rem;
    width: 10rem;
    margin: 0 auto;
}

#order-list-screen .img-track-btns {
    position: relative;
    height: 2.5rem;
    width: 10rem;
    margin: 0 auto;
}

.img-track-btns > button {
    color: var(--second-color);
    background: none !important;

    border: none;
    border-radius: 1rem;
    padding: .5rem;

    opacity: .5;
    transform: scale(.9);
    z-index: 1000;

    transition-duration: 250ms;
}

.img-track-btns > button:hover {
    opacity: 1;
    transform: scale(1);
}

.img-track-btns > button[disabled]:hover {
    opacity: .5;
    transform: scale(1);
}

.running-stroke {
    height: 3rem;
    background: var(--second-color);
    color: var(--first-color);
    padding: .5rem;

    display: flex;
    align-items: center;
    overflow: hidden;
}

.running-inner {
    display: flex;
    position: relative;

    align-items: center;

    animation: running-stroke 100s linear infinite;
}

.running-inner div {
    display: flex;
}

.running-inner span {
    display: flex;
    position: relative;

    white-space: nowrap;
}

.running-inner svg {
    margin: 0 1rem;
}

@keyframes running-stroke {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

#header-btn {
    background: none;
    border: 0;
    border-radius: 1rem;

    padding: .1rem .5rem;
    /*margin-left: 1rem;*/
}

nav {
    display: flex !important;
    justify-content: space-between !important;
    min-height: 4rem !important;
    padding: 0 1rem !important;
}

.navbar-toggler-icon {
    width: 2.5rem !important;
}

.extra-menu {
    background: black;
    width: 15rem;
    height: 100%;

    position: fixed;

    left: -16rem;
    top: 0;

    padding: 0 1rem 2rem 1rem;

    z-index: 1001;
}

#extra-close-btn {
    position: absolute;

    left: 1rem;
    top: 1.25rem;

    width: 1.5rem;
    height: 1.5rem;

    background: black;
    color: white;

    border: none !important;

    transition: opacity 250ms linear;

    opacity: .5 !important;
}

#extra-close-btn:hover {
    opacity: 1 !important;
}

.extra-container {
    box-sizing: border-box;
    align-items: center;

    padding: 0;
}

.extra-container a {
    color: white !important;
    display: flex;
    align-items: center;

    margin: 1rem 0;

    transition: opacity 250ms linear;

    opacity: .5 !important;
}

.extra-container a:hover {
    opacity: 1 !important;
}

.extra-container .dropdown-item {
    color: black !important;
    background: #e0e0e0 !important;
    margin: 0;
}

.extra-container .dropdown-toggle {
    margin: 0;
    text-transform: uppercase;
}

#extra-user .dropdown {
    display: flex !important;
    justify-content: left !important;
    margin: 1rem 0;
}

.info-links {
    display: flex;
    flex-direction: column;
}

.info-links .nav-link {
    display: flex;
    justify-content: left;

    color: white;
    opacity: .75;

    transition: 250ms;
}

.info-links .nav-link:hover {
    color: white;
    opacity: 1 !important;
}

.info-links-2 .nav-link {
    display: flex;
    justify-content: right;

    color: white;
    opacity: .75;

    transition: 250ms;
}

.info-links-2 .nav-link:hover {
    color: white;
    opacity: 1 !important;
}

.footer-h {
    color: white;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.unfort-footer-nav {
    flex-direction: row;
}

#footer-d {
    height: 15rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 25vw;
}

#socials-d {
    height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#unf-logo {
    flex-direction: column;
}

#go-up-btn {
    display: flex;
    position: fixed;
    z-index: 10000;

    left: 20px;
    bottom: 20px;

    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border: .1rem solid white;
    border-radius: 100%;

    color: white;
    background: black;

    scale: 1;

    transition-duration: 250ms;
}

#info {
    color: var(--second-color);
}

#go-up-btn:hover {
    scale: 1.1;
}

#go-up-btn:active {
    scale: .9;
}

#go-up-arrow {
    opacity: 1 !important;

    transition-duration: 250ms;
}

.go-to-vk {
    display: flex;
    position: fixed;
    z-index: 10000;

    right: 20px;
    bottom: 20px;

    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border: .1rem solid white;
    border-radius: 100%;

    color: black !important;
    background: white !important;

    scale: 1;

    transition-duration: 250ms;
}

.go-to-vk:hover {
    scale: 1.1;
}

.go-to-vk:active {
    scale: .9;
}

.go-to-vk svg {
    width: 100%;
    height: 100%;
}

.about-us {
    color: var(--second-color);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 5rem;
}

.support {
    color: var(--second-color);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 5rem;
}

.extra-background {
    display: none;
    position: absolute;

    left: 15rem;
    top: 0;

    width: 120vw;
    height: 100vh;

    background: var(--second-color);

    opacity: 0;

    z-index: 999;
}

.fa-heart {
    display: flex;
    position: absolute;

    color: var(--second-color);
    font-size: 1rem;

    cursor: pointer;

    top: .5rem;
    right: .5rem;

    transition-duration: 250ms;
}

.fa-heart:hover {
    scale: 1.1
}

.fa-heart:active {
    scale: .9
}

@media (max-width: 1400px) {
    #calcRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
    }
}

@media (max-width: 1200px) {
    .checkout-steps a {
        min-width: 5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-column-fourth a {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0;
        width: 4rem !important;
        height: 30%;
    }

    .popup-card {
        width: 20rem;
        height: auto;
    }

    .popup-card h4 {
        scale: 1;
        font-size: 1rem;
    }

    .popup-card-img {
        height: 10rem;
    }

    .popup-card p {
        display: flex;
        font-size: 1rem;
        font-weight: bold;
        scale: 1;
    }

    .popup-card ul {
        display: block;
        font-size: .8rem;
    }

    #popup-close-btn {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 991px) {

    .banner-btns .banner-btn {
        width: 100%;
    }

    #info h1 {
        font-size: 1.25rem !important;
    }

    #info h2 {
        font-size: 1rem !important;
    }

    #info h3 {
        font-size: .9rem !important;
    }

    #info h4 {
        font-size: .8rem !important;
    }

    #info h5 {
        font-size: .7rem !important;
    }

    #info h6 {
        font-size: .6rem !important;
    }

    .support-info {
        margin-right: .5rem;
    }

    .text-left {
        font-size: 1rem;
    }

    .navbar-toggler-icon, .fa-bag-shopping {
        scale: .75;
        margin: 0;
    }

    .showCalc h4 {
        margin-bottom: .5rem !important;
    }

    .unfort-brand svg {
        scale: .65;
    }

    .line div {
        display: flex;
        justify-content: center;
    }

    .filter-table {
        margin: 0 !important;
    }

    .filter-container {
        height: 2.25rem;
        margin: 0 0 .5rem 0;
    }

    .filter-container button {
        min-height: .75rem !important;
        min-width: 10rem !important;
        transform: scale(.75);
    }

    .product-filter {
        font-size: 1rem;
    }

    .admin-menu {
        left: 0 !important;
    }

    .unfort-logo {
        width: 10rem !important;
        height: 3.5rem !important;
    }

    #cart {
        scale: .75;
    }

    #cart .nav-link {
        display: flex;
    }

    .cart-qty {
        position: relative;
        margin-left: .5rem;
    }

    .nav-login {
        width: 59px !important;
        height: 43px !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .nav-cart {
        width: 30px !important;
        height: 43px !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        padding-right: .0rem !important;
    }

    .dropdown {
        display: flex !important;
        width: 59px !important;
        height: 43px !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .checkout-steps a {
        font-size: .75rem;
        min-width: 5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .search-box {
        display: flex !important;
        position: absolute;
        left: 10% !important;
        top: 50% !important;
    }

    ::-webkit-scrollbar {
        height: .1rem !important;
    }

    #extra-user .dropdown {
        margin: 0;
    }

    .nav-item {
        height: 23px !important;
        margin: 1rem 0 !important;
    }

    .product-img-fullscreen {
        padding: 0 !important;
    }

    .unfort-footer-nav {
        flex-direction: column;
    }

    #footer-d {
        height: 4.5rem;
        justify-content: left;
        align-items: center;
        display: flex;
        padding-left: 1rem;
        width: 100vw;
        font-size: .8rem;
    }

    #footer-d:nth-child(1) {
        margin-bottom: 1rem;
    }

    #footer-d:nth-child(2), #footer-d:nth-child(3) {
        height: 3.5rem;
    }

    #footer-d:nth-child(4) {
        height: 6rem !important;
        margin-top: 1.1rem;
    }

    .mailto {
        font-size: 1.2rem;
    }

    #footer-d .info-links {
        min-width: 50vw;
        justify-content: center;
        align-items: start;
    }
    
    #footer-d .footer-h {
        display: none !important;
    }

    #footer-d .line a {
        justify-content: center;
    }

    #footer-d .line div {
        justify-content: left;
    }

    #socials-d {
        width: 50vw;
    }

    .running-stroke {
        height: 2rem;
    }

    .running-inner {
        font-size: .75rem;
    }

    .running-inner span {
        justify-content: center;
        align-items: center;
    }

    .running-inner svg {
        scale: .75;
    }
}

@media (max-width: 775px) {
    .calc-input {
        width: 50%;
        margin-right: 1rem;
    }

    #sizeCalc {
        padding: .5rem;
    }

    .image-track {
        margin-bottom: 1rem;
    }
}

@media (max-width: 737px) {
    .calc-input {
        width: 70%;
    }

    #sizeCalc {
        padding: 1.5rem;
    }
}

@media (max-width: 535px) {

    #product-title {
        display: flex;
        justify-content: center;
    }

    #product-rating {
        padding: 0 !important;
        display: flex;
        justify-content: center;
    }

    #product-rating .rating {
        display: flex;
        justify-content: center;
    }

    #product-desc div {
        display: flex;
        justify-content: left;
        font-family: 'Helvetica Neue', sans-serif;
    }

    #product-price {
        display: flex;
        justify-content: center;
    }

    #prod-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #prod-desc .card {
        width: 100% !important;
        height: auto !important;
    }

    .products .card {
        width: 150px !important;
        height: auto !important;
    }

    .product-title {
        display: flex;
        justify-content: center;
        margin-top: .5rem;
        min-height: 1rem;
        font-size: .75rem !important;
    }

    .card-text h3 {
        display: flex;
        justify-content: center;
        font-size: 1rem !important;
        color: red !important;
    }

    .card-text span {
        display: flex;
        justify-content: center;
        font-size: .75rem !important;
    }

    h3[class='card-text'] {
        display: flex;
        justify-content: center;
    }

    h3[class='text-center card-text'] {
        display: flex;
        justify-content: center;
    }

    .rating span {
        justify-content: center;
        font-size: .75rem !important;
    }

    .products {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, minmax(0px, 150px));
        grid-column-gap: 0;
        grid-row-gap: 1.5rem;
        margin: .5rem 0;
    }

    .filter-table tr {
        display: flex;
        flex-direction: row;
    }

    .filter-table td {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 125px !important;
    }
}

